<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/styles/styles.css">
</head>
<body>

<script>
function tableToJSON(table) {
    var data = [];

    // first row needs to be headers
    var headers = [];
    for (var i=0; i<table.rows[0].cells.length; i++) {
        headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
    }

    // go through cells
    for (var i=1; i<table.rows.length; i++) {

        var tableRow = table.rows[i];
        var rowData = {};

        rowData[ headers[0] ] = tableRow.cells[0].innerHTML;
        var completed = tableRow.getElementsByTagName("td")[9].getElementsByTagName("input")[0].checked;
        var groupID = tableRow.getElementsByTagName("td")[0].innerHTML;
        if(completed){
          data.push(groupID);
          console.log(data);
        }
    }

    const xhttp = new XMLHttpRequest();

    /* USE LINE BELOW TO RUN ON LOCALHOST */
    xhttp.open('POST', 'http://localhost:3000/clearGroups');

    /* USE LINE BELOW TO RUN ON HEROKU */
    //xhttp.open('POST', 'https://wildwoodhillsranch.herokuapp.com/clearGroups');
    //xhttp.open('POST', 'https://arcane-plains-96288.herokuapp.com/clearGroups');
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.responseType = "json";
    console.log(data);
    xhttp.send(JSON.stringify(data));
    window.location.href = 'groupReport';
}

function dataToJSON(projectID){
  this.projectID = projectID;
}
</script>

<div class="sidenav">
  <img src="/WWRanchLogo.JPG" style="width:100%"  alt="WWRanchLogo">
  <a onclick= 'tableToJSON(voltbl)'>Remove Selected Groups</a>
  <a href= 'staffHome'>Return to the Home Page</a>
</div>

  <div class = "tdiv">
        <table id = "voltbl" class = "projtbl" style = "width:85%" align = "right">
      <tr>
        <th>Group ID</th>
        <th>Group Name</th>
        <th>Leader's Name</th>
        <th>Leader's Email</th>
        <th>Leader's Phone</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Number of Males</th>
        <th>Number of Females</th>
        <th>Remove?</th>
      </tr>
      <%if(groups.length){%>
        <%for(var i = 0 ; i < groups.length ; i++){%>
          <tr>
            <td><%=groups[i]._id %></td>
            <td><%=groups[i].groupName %></td>
            <td><%=groups[i].leaderFirst + " " + groups[i].leaderLast %></td>
            <td><%=groups[i].leaderEmail %></td>
            <td><%=groups[i].leaderPhone %></td>
            <td><%=groups[i].startDate.getMonth() + 1 + "/" + (groups[i].startDate.getDate()) + "/" + groups[i].startDate.getFullYear(); %></td>
            <td><%=groups[i].endDate.getMonth() + 1 + "/" + (groups[i].endDate.getDate()) + "/" + groups[i].endDate.getFullYear(); %></td>
            <td><%=groups[i].numMales %></td>
            <td><%=groups[i].numFemales %></td>
            <td><input type = "checkbox"  name = "remove" id = "remove"></td>
          </tr>
        <%}%>
      <%}else{%>
        <tr>
          <td colspan = "4">No Volunteers To Show </td>
        </tr>
      <%}%>
    </table>
  </div>

</body>
</html>
